
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#img{
    width: 250px;
    height: 350px ;


}
#body{

}

#button{
    width: 250px;
    padding: 10px;
    text-align: center;
    background-color: rgb(201, 45, 45);
    color: white;
    margin-top: 3%;
    border: none;
    border-radius: 2px;
    
}
.root{
    
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

@media (max-width: 600px){
    .root{
        margin-top: 10%;
    } 
}

@media (min-width: 600px) and (max-width: 768px){
   .root{
    margin-top: 18%;
   }
}
@media(min-width: 768px){
    .root{
        margin-top: 10%;
       
    }
}


